{% extends 'base.html' %}


{% block head %}
<title>lee22jar.co.tz</title>
{% endblock %}


{% block body %}
<br>
<h1>Home Page..!!</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome..!!</h1>
            <p>Welcome to Lee22Jar Blog, here we are talking about everything related to Computer Ccience like Basics, Frameworks, Machine Learning, Other Data Science Stuffs, Any New Tech or Findings and More Things Related to Computer Science.</p>
            <p>Go Visit Us at Our Website <a href="http://www.lee22jar.co.tz">lee22jar.co.tz</a> to Check More Cool Things beyond This Blog.</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button"> Go to Blog Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}